body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}
p about {
    margin: 0;
    padding: 20px;
    background-color: #ffd587;
    color: #333;
    border-radius: 10px;
}